@font-face {
    font-family: 'Doto SemiBold';
    src: url('fonts/Doto-SemiBold.ttf');
}

@font-face {
    font-family: 'Doto ExtraBold';
    src: url('fonts/Doto-ExtraBold.ttf');
}

#title {
    -fx-font-family: 'Doto ExtraBold';
    -fx-font-size: 64;
    -fx-text-fill: cornflowerblue;

    font-family: 'Doto ExtraBold';
    font-size: 64;
    color: cornflowerblue;
}

.button {
    -fx-font-family: 'Doto SemiBold';
    -fx-font-size: 32;
    -fx-background-color: cornflowerblue;
    -fx-text-fill: whitesmoke;

    font-family: 'Doto SemiBold';
    font-size: 32;
    background-color: cornflowerblue;
    color: whitesmoke;
}

#background {
    -fx-background-color: #4a4e69;

    background-color: #4a4e69;
}

#bgoverlay {
    -fx-background-color: black;
    -fx-opacity: 0.8;

    background-color: black;
    opacity: 0.8;
}

#pausebtn {
    -fx-font-family: 'Doto SemiBold';
    -fx-font-size: 26;
    -fx-background-color: cornflowerblue;
    -fx-text-fill: whitesmoke;

    font-family: 'Doto SemiBold';
    font-size: 26;
    background-color: cornflowerblue;
    color: whitesmoke;
}

#score {
    -fx-font-family: 'Helvetica';
    -fx-font-size: 128;
    -fx-text-fill: white;

    font-family: 'Doto ExtraBold';
    font-size: 96;
    color: white;
}

#scroll-pane {
    -fx-background-color: cornflowerblue;
    -fx-border-color: cornflowerblue;

    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

#list {
    -fx-background-color: #4a4e69;

    background-color: #4a4e69;
}

.list-cell {
    -fx-background-color: rgba(0,0,0,0);

    background-color: rgba(0,0,0,0);
}

.list-cell:selected {
    -fx-background-color: rgba(1,1,1,0.5);

    background-color: rgba(1,1,1,0.5);
}

#selectText {
    -fx-text-fill: whitesmoke;
    -fx-font-family: 'Doto SemiBold';
    -fx-font-size: 22;

    color: whitesmoke;
    font-family: 'Doto SemiBold';
    font-size: 22;
}

#modifybtn {
    -fx-font-family: 'Doto SemiBold';
    -fx-background-color: cornflowerblue;
    -fx-text-fill: whitesmoke;

    font-family: 'Doto SemiBold';
    background-color: cornflowerblue;
    color: whitesmoke;
}

#basetext {
    -fx-font-family: 'Doto SemiBold';
    -fx-text-fill: cornflowerblue;

    font-family: 'Doto SemiBold';
    color: cornflowerblue;
}

#textfield {
    -fx-font-family: 'Doto SemiBold';
    -fx-text-fill: whitesmoke;
    -fx-font-size: 22;
    -fx-background-color: rgba(1,1,1,0.7), #4a4e69;
    -fx-background-insets: 0 0 -2 0, 0 0 0 0;

    background-color: red;
    font-family: 'Doto SemiBold';
    font-size: 22;
}