@font-face {
    font-family: 'Doto SemiBold';
    src: url('fonts/Doto-SemiBold.ttf');
}

@font-face {
    font-family: 'Doto ExtraBold';
    src: url('fonts/Doto-ExtraBold.ttf');
}

#title {
    -fx-font-family: 'Doto ExtraBold';
    -fx-font-size: 64;
    -fx-text-fill: cornflowerblue;

    font-family: 'Doto ExtraBold';
    font-size: 64;
    color: cornflowerblue;
}

.button {
    -fx-font-family: 'Doto SemiBold';
    -fx-font-size: 32;
    -fx-background-color: cornflowerblue;
    -fx-text-fill: whitesmoke;

    font-family: 'Doto SemiBold';
    font-size: 32;
    background-color: cornflowerblue;
    color: whitesmoke;
}

#background {
    -fx-background-color: #4a4e69;

    background-color: #4a4e69;
}

#bgoverlay {
    -fx-background-color: black;
    -fx-opacity: 0.7;

    background-color: black;
    opacity: 0.7;
}

#pausebtn {
    -fx-font-family: 'Doto SemiBold';
    -fx-font-size: 26;
    -fx-background-color: cornflowerblue;
    -fx-text-fill: whitesmoke;

    font-family: 'Doto SemiBold';
    font-size: 26;
    background-color: cornflowerblue;
    color: whitesmoke;
}